@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import 'include-media';

// Variable
$primary-colors: (
	'cyan': hsl(179, 62%, 43%),
	'light-cyan': hsl(179, 62%, 46%),
	'bright-yellow': hsl(71, 73%, 54%),
	'btn-hover': hsl(71, 64%, 48%),
);

$neutral-colors: (
	'light-gray': hsl(204, 43%, 93%),
	'grayish-blue': hsl(218, 22%, 67%),
);

// Function
@function primary-colors($color) {
	@return map-get($primary-colors, $color);
}

@function neutral-colors($color) {
	@return map-get($neutral-colors, $color);
}

:root {
	font-family: 'Karla', sans-serif;
	font-size: 62.5%;
}

// Reset
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-size: 1.6rem;
}

.header {
	margin: 3rem;

	&__title {
		margin: 2rem 0;
		font-size: 2.4rem;
		font-weight: 700;
		color: primary-colors('cyan');
	}

	&__time {
		margin-bottom: 1rem;
		font-size: 1.8rem;
		font-weight: 700;
		color: primary-colors('bright-yellow');
	}

	&__description {
		margin: 0 2rem 3rem 0;
		line-height: 1.8;
		color: neutral-colors('grayish-blue');
	}
}

.pricing {
	grid-area: pricing;
	padding: 2rem 3rem;
	background-color: primary-colors('cyan');

	&__header {
		margin-bottom: 1.5rem;
		color: white;
		font-size: 2rem;
		font-weight: 400;
	}

	.cost {
		display: inline-flex;

		&--money {
			margin-right: 1rem;
			color: white;
			font-size: 3.2rem;
			font-weight: 700;
		}

		&__time {
			color: neutral-colors('light-gray');
			font-weight: 400;
			margin: auto 0;
		}
	}

	&__access {
		color: white;
		margin-bottom: 4.5rem;
	}

	&__btn {
		width: 100%;
		padding: 1.5rem;
		font-family: 'Karla', sans-serif;
		font-weight: 700;
		font-size: 1.6rem;
		color: white;
		background-color: primary-colors('bright-yellow');
		border: 0;
		border-radius: 0.5rem;

		&:hover {
			cursor: pointer;
			background-color: primary-colors('btn-hover');
		}
	}
}

.footer {
	grid-area: footer;
	padding: 3rem;
	background-color: primary-colors('light-cyan');

	&__header {
		color: white;
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	&__list {
		color: neutral-colors('light-gray');
	}
}

@include media('>=tablet') {
	.header {
		margin: 5rem;
	}

	main {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		grid-template-areas: 'pricing footer';

		.pricing,
		.footer {
			padding: 5rem;
		}
	}
}
